@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}
header {
    width: 100%;
    background-color: rgb(0, 234, 66);
    text-align: center;
    border-bottom: 5px black solid;
    color: white;
}
div table {
    display: flex;
    justify-content: center;
    padding: 2%;
}
div table td {
    height: 150px;
    width: 150px;
    border-radius: 50px;
    background-color: grey;
}
nav {
    border-top: 0;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-around;

}
nav div {
    display: flex;
}
nav p:first-child {
    justify-content: left; /* Alinea el primer elemento a la izquierda */
}
nav p {
    margin-left: 10px;
}


#newcolors {
    cursor: pointer;
    color: rgb(0, 234, 66);
    border-left: 2px black solid;
    border-right: 2px black solid;

}
#newcolors:hover {
    color: white;
    background-color: rgb(0, 234, 66);
}

#easy,
#hard {
    cursor: pointer;
    color: rgb(0, 234, 66);
    padding: 2px;
    border-left: 2px black solid;
    border-right: 2px black solid;
    
}
#easy:hover {
    color: white;
    background-color: rgb(0, 234, 66);
}
#hard:hover {
    color: white;
    background-color: rgb(0, 234, 66);
}


body {
    background-color: rgb(31, 31, 31);
}
